{
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "indent": "off",
    "arrow-parens": "off",
    "operator-linebreak": "off",
    "object-curly-spacing": "off",
    "unicorn/no-abusive-eslint-disable": ["none"],
    "@typescript-eslint/member-delimiter-style": [
      "error",
      {
        "multiline": {
          "delimiter": "none",
          "requireLast": true
        },
        "singleline": {
          "delimiter": "semi",
          "requireLast": false
        }
      }
    ]
  }
}
